{
  "version":"1.0",
  "metadata":{
    "apiVersion":"2012-08-10",
    "endpointPrefix":"apigateway",
    "jsonVersion":"1.1",
    "serviceAbbreviation":"APIGateway",
    "serviceFullName":"Amazon API Gateway",
    "signatureVersion":"v4",
    "protocol":"rest-json"
  },
  "operations":{
    "ListApiKeys":{
      "http":{
        "method":"GET",
        "requestUri":"/apikeys"
      },
      "output":{"shape":"GenericOutputType"}
    },
    "GetApiKey":{
      "http":{
        "method":"GET",
        "requestUri":"/apikeys/{api_key}"
      },
      "input":{"shape":"GetApiKeyInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "CreateApiKey":{
      "http":{
        "method":"POST",
        "requestUri":"/apikeys",
        "responseCode": 201
      },
      "input":{"shape":"CreateApiKeyInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "DeleteApiKey":{
      "http":{
        "method":"DELETE",
        "requestUri":"/apikeys/{api_key}",
        "responseCode": 202
      },
      "input":{"shape":"GetApiKeyInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "ListDomainNames":{
      "http":{
        "method":"GET",
        "requestUri":"/domainnames"
      },
      "output":{"shape":"GenericOutputType"}
    },
    "GetDomainName":{
      "http":{
        "method":"GET",
        "requestUri":"/domainnames/{domain_name}"
      },
      "input":{"shape":"GetDomainNameInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "CreateDomainName":{
      "http":{
        "method":"POST",
        "requestUri":"/domainnames",
        "responseCode": 201
      },
      "input":{"shape":"CreateDomainNameInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "DeleteDomainName":{
      "http":{
        "method":"DELETE",
        "requestUri":"/domainnames/{domain_name}",
        "responseCode": 202
      },
      "input":{"shape":"GetDomainNameInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "ListDeployments":{
      "http":{
        "method":"GET",
        "requestUri":"/restapis/{restapi_id}/deployments"
      },
      "input":{"shape":"ListDeploymentsInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "GetDeployment":{
      "http":{
        "method":"GET",
        "requestUri":"/restapis/{restapi_id}/deployments/{deployment_id}"
      },
      "input":{"shape":"GetDeploymentInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "CreateDeployment":{
      "http":{
        "method":"POST",
        "requestUri":"/restapis/{restapi_id}/deployments",
        "responseCode": 201
      },
      "input":{"shape":"CreateDeploymentInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "DeleteDeployment":{
      "http":{
        "method":"DELETE",
        "requestUri":"/restapis/{restapi_id}/deployments/{deployment_id}",
        "responseCode": 202
      },
      "input":{"shape":"GetDomainNameInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "GetMethodByHttpMethod":{
      "http":{
        "method":"GET",
        "requestUri":"/restapis/{restapi_id}/resources/{resource_id}/methods/{http_method}"
      },
      "input":{"shape":"GetMethodInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "CreateMethod":{
      "http":{
        "method":"PUT",
        "requestUri":"/restapis/{restapi_id}/resources/{resource_id}/methods/{http_method}/integration"
      },
      "input":{"shape":"CreateMethodInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "GetMethodIntegration":{
      "http":{
        "method":"GET",
        "requestUri":"/restapis/{restapi_id}/resources/{resource_id}/methods/{http_method}/integration"
      },
      "input":{"shape":"GetMethodInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "GetMethodResources":{
      "http":{
        "method":"GET",
        "requestUri":"/restapis/{restapi_id}/resources/{resource_id}/methods/{http_method}/responses/{status_code}"
      },
      "input":{"shape":"GetMethodResourcesInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "DeleteMethod":{
      "http":{
        "method":"DELETE",
        "requestUri":"/restapis/{restapi_id}/resources/{resource_id}/methods/{http_method}",
        "responseCode": 202
      },
      "input":{"shape":"GetMethodInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "ListModels":{
      "http":{
        "method":"GET",
        "requestUri":"/restapis/{restapi_id}/models"
      },
      "input":{"shape":"ListModelsInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "GetModel":{
      "http":{
        "method":"GET",
        "requestUri":"/restapis/{restapi_id}/models/{model_name}"
      },
      "input":{"shape":"GetModelInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "CreateModel":{
      "http":{
        "method":"POST",
        "requestUri":"/restapis/{restapi_id}/models",
        "responseCode": 201
      },
      "input":{"shape":"CreateModelInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "DeleteModel":{
      "http":{
        "method":"DELETE",
        "requestUri":"/restapis/{restapi_id}/models/{model_name}",
        "responseCode": 202
      },
      "input":{"shape":"GetModelInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "ListRestApis":{
      "http":{
        "method":"GET",
        "requestUri":"/restapis"
      },
      "output":{"shape":"GenericOutputType"}
    },
    "GetRestApi":{
      "http":{
        "method":"GET",
        "requestUri":"/restapis/{restapi_id}"
      },
      "input":{"shape":"GetApiKeyInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "CreateRestApi":{
      "http":{
        "method":"POST",
        "requestUri":"/restapis",
        "responseCode": 201
      },
      "input":{"shape":"CreateRestApiInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "DeleteRestApi":{
      "http":{
        "method":"DELETE",
        "requestUri":"/restapis/{restapi_id}",
        "responseCode": 202
      },
      "input":{"shape":"GetRestApiInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "ListStages":{
      "http":{
        "method":"GET",
        "requestUri":"/restapis/{restapi_id}/stages"
      },
      "input":{"shape":"ListStagesInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "GetStage":{
      "http":{
        "method":"GET",
        "requestUri":"/restapis/{restapi_id}/stages/{stage_name}"
      },
      "input":{"shape":"GetStageInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "CreateStage":{
      "http":{
        "method":"POST",
        "requestUri":"/restapis/{restapi_id}/stages",
        "responseCode": 201
      },
      "input":{"shape":"CreateStageInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "DeleteStage":{
      "http":{
        "method":"DELETE",
        "requestUri":"/restapis/{restapi_id}/stages/{stage_name}",
        "responseCode": 202
      },
      "input":{"shape":"GetStageInput"},
      "output":{"shape":"GenericOutputType"}
    }
  },
  "shapes": {
    "JsonBody": {"type": "string"},  
    "ApiKey": {"type": "string"},
    "String": {"type": "string"},
    "Boolean": {"type": "boolean"},
    "GetApiKeyInput": {
      "type": "structure",
      "members":{
        "api_key":{
          "shape": "ApiKey",
          "location": "uri",
          "locationName": "api_key"
        }
      }
    },
    "StageKey": {
      "shape": "structure",
      "members": {
        "restApiId": {
          "shape": "String"
        },
        "stageName": {
          "shape": "String"
        }
      }
    },
    "StageKeys": {
      "type": "list",
      "member": {"shape": "StageKey"}
    },
    "CreateApiKeyInput": {
      "type": "structure",
      "required": [
        "name"
      ],
      "members":{
        "name":{
          "shape": "String"
        },
        "description": {
          "shape": "String"
        },
        "enabled": {
          "shape": "Boolean"
        },
        "stage_keys": {
          "shape": "StageKeys"
        }
      }
    },
    "CreateRestApiInput": {
      "type": "structure",
      "required": [
        "name"
      ],
      "members":{
        "name":{
          "shape": "String"
        },
        "description": {
          "shape": "String"
        },
        "cloneFrom": {
          "shape": "String"
        }
      }
    },
    "GetDomainNameInput": {
      "type": "structure",
      "members":{
        "domain_name":{
          "shape": "String",
          "location": "uri",
          "locationName": "domain_name"
        }
      }
    },
    "CreateDomainNameInput": {
      "type": "structure",
      "required": [
        "domainName",
        "certificateName",
        "certificateBody",
        "certificatePrivateKey",
        "certificateChain"
      ],
      "members":{
        "domainName":{
          "shape": "String"
        },
        "certificateName": {
          "shape": "String"
        },
        "certificateBody": {
          "shape": "String"
        },
        "certificatePrivateKey": {
          "shape": "String"
        },
        "certificateChain": {
          "shape": "String"
        }
      }
    },
    "ListDeploymentsInput": {
      "type": "structure",
      "members":{
        "restapi_id":{
          "shape": "String",
          "location": "uri",
          "locationName": "restapi_id"
        }
      }
    },
    "GetDeploymentInput": {
      "type": "structure",
      "members":{
        "restapi_id":{
          "shape": "String",
          "location": "uri",
          "locationName": "restapi_id"
        },
        "deployment_id":{
          "shape": "String",
          "location": "uri",
          "locationName": "deployment_id"
        }
      }
    },
    "CreateDeploymentInput": {
      "type": "structure",
      "members":{
        "restapi_id":{
          "shape": "String",
          "location": "uri",
          "locationName": "restapi_id"
        }
      }
    },
    "ListModelsInput": {
      "type": "structure",
      "members":{
        "restapi_id":{
          "shape": "String",
          "location": "uri",
          "locationName": "restapi_id"
        }
      }
    },
    "GetModelInput": {
      "type": "structure",
      "members":{
        "restapi_id":{
          "shape": "String",
          "location": "uri",
          "locationName": "restapi_id"
        },
        "model_name":{
          "shape": "String",
          "location": "uri",
          "locationName": "model_name"
        }
      }
    },
    "CreateModelInput": {
      "type": "structure",
      "members":{
        "restapi_id":{
          "shape": "String",
          "location": "uri",
          "locationName": "restapi_id"
        },
        "name": {
          "shape": "String"
        },
        "description": {
          "shape": "String"
        },
        "schema": {
          "shape": "String"
        },
        "contentType": {
          "shape": "String"
        }
      }
    },
    "ListStagesInput": {
      "type": "structure",
      "members":{
        "restapi_id":{
          "shape": "String",
          "location": "uri",
          "locationName": "restapi_id"
        }
      }
    },
    "GetStageInput": {
      "type": "structure",
      "members":{
        "restapi_id":{
          "shape": "String",
          "location": "uri",
          "locationName": "restapi_id"
        },
        "stage_name":{
          "shape": "String",
          "location": "uri",
          "locationName": "stage_name"
        }
      }
    },
    "CreateStageInput": {
      "type": "structure",
      "members":{
        "restapi_id":{
          "shape": "String",
          "location": "uri",
          "locationName": "restapi_id"
        },
        "stageName": {
          "shape": "String"
        },
        "deploymentId": {
          "shape": "String"
        },
        "description": {
          "shape": "String"
        },
        "cacheClusterEnabled": {
          "shape": "Boolean"
        },
        "cacheClusterSizes": {
          "shape": "String"
        }
      }
    },
    "GetMethodInput": {
      "type": "structure",
      "members":{
        "restapi_id":{
          "shape": "String",
          "location": "uri",
          "locationName": "restapi_id"
        },
        "resource_id":{
          "shape": "String",
          "location": "uri",
          "locationName": "resource_id"
        },
        "http_method":{
          "shape": "String",
          "location": "uri",
          "locationName": "http_method"
        }
      }
    },
    "GetMethodResourcesInput": {
      "type": "structure",
      "members":{
        "restapi_id":{
          "shape": "String",
          "location": "uri",
          "locationName": "restapi_id"
        },
        "resource_id":{
          "shape": "String",
          "location": "uri",
          "locationName": "resource_id"
        },
        "http_method":{
          "shape": "String",
          "location": "uri",
          "locationName": "http_method"
        },
        "status_code": {
          "shape": "String",
          "location": "uri",
          "locationName": "status_code"
        }
      }
    },
    "CreateMethodInput": {
      "type": "structure",
      "members":{
        "restapi_id":{
          "shape": "String",
          "location": "uri",
          "locationName": "restapi_id"
        },
        "resource_id":{
          "shape": "String",
          "location": "uri",
          "locationName": "resource_id"
        },
        "http_method":{
          "shape": "String",
          "location": "uri",
          "locationName": "http_method"
        },
        "authorizationType": {
          "shape": "String"
        },
        "apiKeyRequired": {
          "shape": "Boolean"
        }
      }
    },
    "GenericOutputType": {
      "type": "structure",
      "members":{
        "json_body":{
          "shape": "JsonBody"
        }
      },
     "payload": "json_body"
    }
  }
}
