{
  "version":"1.0",
  "metadata":{
    "apiVersion":"2012-08-10",
    "endpointPrefix":"apigateway",
    "jsonVersion":"1.1",
    "serviceAbbreviation":"APIGateway",
    "serviceFullName":"Amazon API Gateway",
    "signatureVersion":"v4",
    "protocol":"rest-json"
  },
  "operations":{
    "ListApiKeys":{
      "http":{
        "method":"GET",
        "requestUri":"/apikeys"
      },
      "output":{"shape":"GenericOutputType"}
    },
    "GetApiKey":{
      "http":{
        "method":"GET",
        "requestUri":"/apikeys/{api_key}"
      },
      "input":{"shape":"GetApiKeyInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "CreateApiKey":{
      "http":{
        "method":"POST",
        "requestUri":"/apikeys",
        "responseCode": 201
      },
      "input":{"shape":"CreateApiKeyInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "DeleteApiKey":{
      "http":{
        "method":"DELETE",
        "requestUri":"/apikeys/{api_key}",
        "responseCode": 202
      },
      "input":{"shape":"GetApiKeyInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "UpdateApiKey": {
      "http": {
        "method": "PATCH",
        "requestUri": "/apikeys/{api_key}",
        "responseCode": 200
      },
      "input": {"shape": "ApiKeyUpdateType"},
      "output": {"shape": "GenericOutputType"}
    },
    "GetPathMapping":{
      "http":{
        "method":"GET",
        "requestUri":"/domains/{domain_name}/basepathmappings/{base_path}"
      },
      "input": {"shape": "GetBasePathMappingInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "CreateBaseBathMapping":{
      "http":{
        "method":"POST",
        "requestUri":"/domains/{domain_name}/basepathmappings",
        "responseCode": 201
      },
      "input":{"shape":"CreateDomainNameInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "DeleteBasePathMapping":{
      "http":{
        "method":"DELETE",
        "requestUri":"/domains/{domain_name}/basepathmappings/{base_path}",
        "responseCode": 202
      },
      "input":{"shape":"GetBasePathMappingInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "ListDeployments":{
      "http":{
        "method":"GET",
        "requestUri":"/restapis/{restapi_id}/deployments"
      },
      "input":{"shape":"ListDeploymentsInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "GetDeployment":{
      "http":{
        "method":"GET",
        "requestUri":"/restapis/{restapi_id}/deployments/{deployment_id}"
      },
      "input":{"shape":"GetDeploymentInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "CreateDeployment":{
      "http":{
        "method":"POST",
        "requestUri":"/restapis/{restapi_id}/deployments",
        "responseCode": 201
      },
      "input":{"shape":"CreateDeploymentInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "DeleteDeployment":{
      "http":{
        "method":"DELETE",
        "requestUri":"/restapis/{restapi_id}/deployments/{deployment_id}",
        "responseCode": 202
      },
      "input":{"shape":"GetDomainNameInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "GetDeploymentStages":{
      "http":{
        "method":"GET",
        "requestUri":"/restapis/{restapi_id}/stages"
      },
      "input":{"shape":"CreateDeploymentInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "ListDomainNames":{
      "http":{
        "method":"GET",
        "requestUri":"/domainnames"
      },
      "output":{"shape":"GenericOutputType"}
    },
    "GetDomainName":{
      "http":{
        "method":"GET",
        "requestUri":"/domainnames/{domain_name}"
      },
      "input":{"shape":"GetDomainNameInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "CreateDomainName":{
      "http":{
        "method":"POST",
        "requestUri":"/domainnames",
        "responseCode": 201
      },
      "input":{"shape":"CreateDomainNameInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "DeleteDomainName":{
      "http":{
        "method":"DELETE",
        "requestUri":"/domainnames/{domain_name}",
        "responseCode": 202
      },
      "input":{"shape":"GetDomainNameInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "ListIntegrations":{
      "http":{
        "method":"GET",
        "requestUri":"/restapis/{restapi_id}/resources/{resource_id}/methods/{http_method}/integration"
      },
      "output":{"shape":"GenericOutputType"}
    },
    "CreateIntegration":{
      "http":{
        "method":"POST",
        "requestUri":"/restapis/{restapi_id}/resources/{resource_id}/methods/{http_method}/integration",
        "responseCode": 201
      },
      "input":{"shape":"CreateIntegrationInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "GetIntegrationResponses":{
      "http":{
        "method":"GET",
        "requestUri":"/restapis/{restapi_id}/resources/{resource_id}/methods/{http_method}/integration/responses/{status_code}"
      },
      "input":{"shape":"GetIntegrationResponsesInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "DeleteIntegration":{
      "http":{
        "method":"DELETE",
        "requestUri":"/restapis/{restapi_id}/resources/{resource_id}/methods/{http_method}/integration",
        "responseCode": 202
      },
      "input":{"shape":"GetIntegrationInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "GetMethodByHttpMethod":{
      "http":{
        "method":"GET",
        "requestUri":"/restapis/{restapi_id}/resources/{resource_id}/methods/{http_method}"
      },
      "input":{"shape":"GetMethodInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "CreateMethod":{
      "http":{
        "method":"PUT",
        "requestUri":"/restapis/{restapi_id}/resources/{resource_id}/methods/{http_method}"
      },
      "input":{"shape":"CreateMethodInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "CreateMethodIntegration":{
      "http":{
        "method":"PUT",
        "requestUri":"/restapis/{restapi_id}/resources/{resource_id}/methods/{http_method}/integration"
      },
      "input":{"shape":"CreateMethodInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "GetMethodIntegration":{
      "http":{
        "method":"GET",
        "requestUri":"/restapis/{restapi_id}/resources/{resource_id}/methods/{http_method}/integration"
      },
      "input":{"shape":"GetMethodInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "CreateMethodResponses":{
      "http":{
        "method":"PUT",
        "requestUri":"/restapis/{restapi_id}/resources/{resource_id}/methods/{http_method}/responses/{status_code}"
      },
      "input":{"shape":"CreateMethodResponsesInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "GetMethodResponses":{
      "http":{
        "method":"GET",
        "requestUri":"/restapis/{restapi_id}/resources/{resource_id}/methods/{http_method}/responses/{status_code}"
      },
      "input":{"shape":"GetMethodResponsesInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "DeleteMethodResponses":{
      "http":{
        "method":"DELETE",
        "requestUri":"/restapis/{restapi_id}/resources/{resource_id}/methods/{http_method}/responses/{status_code}"
      },
      "input":{"shape":"GetMethodResponsesInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "DeleteMethod":{
      "http":{
        "method":"DELETE",
        "requestUri":"/restapis/{restapi_id}/resources/{resource_id}/methods/{http_method}",
        "responseCode": 202
      },
      "input":{"shape":"GetMethodInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "ListModels":{
      "http":{
        "method":"GET",
        "requestUri":"/restapis/{restapi_id}/models"
      },
      "input":{"shape":"ListModelsInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "GetModel":{
      "http":{
        "method":"GET",
        "requestUri":"/restapis/{restapi_id}/models/{model_name}"
      },
      "input":{"shape":"GetModelInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "CreateModel":{
      "http":{
        "method":"POST",
        "requestUri":"/restapis/{restapi_id}/models",
        "responseCode": 201
      },
      "input":{"shape":"CreateModelInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "DeleteModel":{
      "http":{
        "method":"DELETE",
        "requestUri":"/restapis/{restapi_id}/models/{model_name}",
        "responseCode": 202
      },
      "input":{"shape":"GetModelInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "ListResources":{
      "http":{
        "method":"GET",
        "requestUri":"/restapis/{restapi_id}/resources"
      },
      "input":{"shape":"ListModelsInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "GetResource":{
      "http":{
        "method":"GET",
        "requestUri":"/restapis/{restapi_id}/resources/{resource_id}"
      },
      "input":{"shape":"GetResourceInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "CreateResource":{
      "http":{
        "method":"POST",
        "requestUri":"/restapis/{restapi_id}/resources/{parent_id}",
        "responseCode": 201
      },
      "input":{"shape":"CreateResourceInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "DeleteResource":{
      "http":{
        "method":"DELETE",
        "requestUri":"/restapis/{restapi_id}/resources/{resource_id}",
        "responseCode": 202
      },
      "input":{"shape":"GetResourceInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "ListRestApis":{
      "http":{
        "method":"GET",
        "requestUri":"/restapis"
      },
      "output":{"shape":"GenericOutputType"}
    },
    "GetRestApi":{
      "http":{
        "method":"GET",
        "requestUri":"/restapis/{restapi_id}"
      },
      "input":{"shape":"GetApiKeyInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "CreateRestApi":{
      "http":{
        "method":"POST",
        "requestUri":"/restapis",
        "responseCode": 201
      },
      "input":{"shape":"CreateRestApiInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "DeleteRestApi":{
      "http":{
        "method":"DELETE",
        "requestUri":"/restapis/{restapi_id}",
        "responseCode": 202
      },
      "input":{"shape":"GetRestApiInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "ListStages":{
      "http":{
        "method":"GET",
        "requestUri":"/restapis/{restapi_id}/stages"
      },
      "input":{"shape":"ListStagesInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "GetStage":{
      "http":{
        "method":"GET",
        "requestUri":"/restapis/{restapi_id}/stages/{stage_name}"
      },
      "input":{"shape":"GetStageInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "CreateStage":{
      "http":{
        "method":"POST",
        "requestUri":"/restapis/{restapi_id}/stages",
        "responseCode": 201
      },
      "input":{"shape":"CreateStageInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "DeleteStage":{
      "http":{
        "method":"DELETE",
        "requestUri":"/restapis/{restapi_id}/stages/{stage_name}",
        "responseCode": 202
      },
      "input":{"shape":"GetStageInput"},
      "output":{"shape":"GenericOutputType"}
    }
  },
  "shapes": {
    "JsonBody": {"type": "string"},  
    "ApiKey": {"type": "string"},
    "RestApi": {"type": "string"},
    "String": {"type": "string"},
    "Boolean": {"type": "boolean"},
    "PatchOperation": {
      "type": "structure",
      "members": {
        "op": {"shape": "String"},
        "path": {"shape": "String"},
        "value": {"shape": "String"},
        "from": {"shape": "String"}
      }
    },
    "PatchOperationList": {
      "type": "list",
      "member": {"shape": "PatchOperation"}
    },
    "GetApiKeyInput": {
      "type": "structure",
      "members":{
        "api_key":{
          "shape": "ApiKey",
          "location": "uri",
          "locationName": "api_key"
        }
      }
    },
    "StageKey": {
      "type": "structure",
      "members": {
        "restApiId": {
          "shape": "String"
        },
        "stageName": {
          "shape": "String"
        }
      }
    },
    "StageKeys": {
      "type": "list",
      "member": {"shape": "StageKey"}
    },
    "CacheKeyParameters": {
      "type": "list",
      "member": {"shape": "String"}
    },
    "CreateApiKeyInput": {
      "type": "structure",
      "required": [
        "name"
      ],
      "members":{
        "name":{
          "shape": "String"
        },
        "description": {
          "shape": "String"
        },
        "enabled": {
          "shape": "Boolean"
        },
        "stage_keys": {
          "shape": "StageKeys"
        }
      }
    },
    "GetBasePathMappingInput": {
      "type": "structure",
      "members":{
        "domain_name":{
          "shape": "String",
          "location": "uri",
          "locationName": "domain_name"
        },
        "base_path": {
          "shape": "String",
          "location": "uri",
          "locationName": "base_path"
        }
      }
    },
    "CreateRestApiInput": {
      "type": "structure",
      "required": [
        "name"
      ],
      "members":{
        "name":{
          "shape": "String"
        },
        "description": {
          "shape": "String"
        },
        "cloneFrom": {
          "shape": "String"
        }
      }
    },
    "GetDomainNameInput": {
      "type": "structure",
      "members":{
        "domain_name":{
          "shape": "String",
          "location": "uri",
          "locationName": "domain_name"
        }
      }
    },
    "GetRestApiInput": {
      "type": "structure",
      "members":{
        "restapi_id":{
          "shape": "RestApi",
          "location": "uri",
          "locationName": "restapi_id"
        }
      }
    },
    "CreateDomainNameInput": {
      "type": "structure",
      "required": [
        "domainName",
        "certificateName",
        "certificateBody",
        "certificatePrivateKey",
        "certificateChain"
      ],
      "members":{
        "domainName":{
          "shape": "String"
        },
        "certificateName": {
          "shape": "String"
        },
        "certificateBody": {
          "shape": "String"
        },
        "certificatePrivateKey": {
          "shape": "String"
        },
        "certificateChain": {
          "shape": "String"
        }
      }
    },
    "ListDeploymentsInput": {
      "type": "structure",
      "members":{
        "restapi_id":{
          "shape": "String",
          "location": "uri",
          "locationName": "restapi_id"
        }
      }
    },
    "GetDeploymentInput": {
      "type": "structure",
      "members":{
        "restapi_id":{
          "shape": "String",
          "location": "uri",
          "locationName": "restapi_id"
        },
        "deployment_id":{
          "shape": "String",
          "location": "uri",
          "locationName": "deployment_id"
        }
      }
    },
    "CreateDeploymentInput": {
      "type": "structure",
      "members":{
        "restapi_id":{
          "shape": "String",
          "location": "uri",
          "locationName": "restapi_id"
        },
        "stageName":{
          "shape": "String"
        },
        "stageDescription": {
          "shape": "String"
        },
        "description": {
          "shape": "String"
        },
        "cacheClusterEnabled": {
          "shape": "Boolean"
        },
        "cacheClusterSize": {
          "shape": "String"
        }
      }
    },
    "ListModelsInput": {
      "type": "structure",
      "members":{
        "restapi_id":{
          "shape": "String",
          "location": "uri",
          "locationName": "restapi_id"
        }
      }
    },
    "GetModelInput": {
      "type": "structure",
      "members":{
        "restapi_id":{
          "shape": "String",
          "location": "uri",
          "locationName": "restapi_id"
        },
        "model_name":{
          "shape": "String",
          "location": "uri",
          "locationName": "model_name"
        }
      }
    },
    "CreateModelInput": {
      "type": "structure",
      "members":{
        "restapi_id":{
          "shape": "String",
          "location": "uri",
          "locationName": "restapi_id"
        },
        "name": {
          "shape": "String"
        },
        "description": {
          "shape": "String"
        },
        "schema": {
          "shape": "String"
        },
        "contentType": {
          "shape": "String"
        }
      }
    },
    "GetResourceInput": {
      "type": "structure",
      "members":{
        "restapi_id":{
          "shape": "String",
          "location": "uri",
          "locationName": "restapi_id"
        },
        "resource_id":{
          "shape": "String",
          "location": "uri",
          "locationName": "resource_id"
        }
      }
    },
    "CreateResourceInput": {
      "type": "structure",
      "members":{
        "restapi_id":{
          "shape": "String",
          "location": "uri",
          "locationName": "restapi_id"
        },
        "parentId": {
          "shape": "String",
          "location": "uri",
          "locationName": "parent_id"
        },
        "pathPart": {
          "shape": "String"
        }
      }
    },
    "ListStagesInput": {
      "type": "structure",
      "members":{
        "restapi_id":{
          "shape": "String",
          "location": "uri",
          "locationName": "restapi_id"
        }
      }
    },
    "GetStageInput": {
      "type": "structure",
      "members":{
        "restapi_id":{
          "shape": "String",
          "location": "uri",
          "locationName": "restapi_id"
        },
        "stage_name":{
          "shape": "String",
          "location": "uri",
          "locationName": "stage_name"
        }
      }
    },
    "CreateStageInput": {
      "type": "structure",
      "members":{
        "restapi_id":{
          "shape": "String",
          "location": "uri",
          "locationName": "restapi_id"
        },
        "stageName": {
          "shape": "String"
        },
        "deploymentId": {
          "shape": "String"
        },
        "description": {
          "shape": "String"
        },
        "cacheClusterEnabled": {
          "shape": "Boolean"
        },
        "cacheClusterSizes": {
          "shape": "String"
        }
      }
    },
    "GetMethodInput": {
      "type": "structure",
      "members":{
        "restapi_id":{
          "shape": "String",
          "location": "uri",
          "locationName": "restapi_id"
        },
        "resource_id":{
          "shape": "String",
          "location": "uri",
          "locationName": "resource_id"
        },
        "http_method":{
          "shape": "String",
          "location": "uri",
          "locationName": "http_method"
        }
      }
    },
    "GetMethodResponsesInput": {
      "type": "structure",
      "members":{
        "restapi_id":{
          "shape": "String",
          "location": "uri",
          "locationName": "restapi_id"
        },
        "resource_id":{
          "shape": "String",
          "location": "uri",
          "locationName": "resource_id"
        },
        "http_method":{
          "shape": "String",
          "location": "uri",
          "locationName": "http_method"
        },
        "status_code": {
          "shape": "String",
          "location": "uri",
          "locationName": "status_code"
        }
      }
    },
    "GetIntegrationInput": {
      "type": "structure",
      "members":{
        "restapi_id":{
          "shape": "String",
          "location": "uri",
          "locationName": "restapi_id"
        },
        "resource_id":{
          "shape": "String",
          "location": "uri",
          "locationName": "resource_id"
        },
        "http_method":{
          "shape": "String",
          "location": "uri",
          "locationName": "http_method"
        }
      }
    },
    "GetIntegrationResponsesInput": {
      "type": "structure",
      "members":{
        "restapi_id":{
          "shape": "String",
          "location": "uri",
          "locationName": "restapi_id"
        },
        "resource_id":{
          "shape": "String",
          "location": "uri",
          "locationName": "resource_id"
        },
        "http_method":{
          "shape": "String",
          "location": "uri",
          "locationName": "http_method"
        },
        "status_code": {
          "shape": "String",
          "location": "uri",
          "locationName": "status_code"
        }
      }
    },
    "CreateIntegrationInput": {
      "type": "structure",
      "members":{
        "restapi_id":{
          "shape": "String",
          "location": "uri",
          "locationName": "restapi_id"
        },
        "resource_id":{
          "shape": "String",
          "location": "uri",
          "locationName": "resource_id"
        },
        "http_method":{
          "shape": "String",
          "location": "uri",
          "locationName": "http_method"
        },
        "type": {
          "shape": "String"
        },
        "httpMethod": {
          "shape": "String"
        },
        "uri": {
          "shape": "String"
        },
        "credentials": {
          "shape": "String"
        },
        "requestParameters": {
          "shape": "RequestParametersMap"
        },
        "requestTemplates": {
          "shape": "RequestParametersMap"
        },
        "cacheNamespace": {
          "shape": "String"
        },
        "cacheKeyParameters": {
          "shape": "CacheKeyParameters"
        }
      }
    },
    "ResponseParametersMap": {
      "type": "map",
      "key": {"shape": "String"},
      "value": {"shape": "Boolean"}
    },
    "ResponseModelsMap": {
      "type": "map",
      "key": {"shape": "String"},
      "value": {"shape": "String"}
    },
    "CreateMethodResponsesInput": {
      "type": "structure",
      "members":{
        "restapi_id":{
          "shape": "String",
          "location": "uri",
          "locationName": "restapi_id"
        },
        "resource_id":{
          "shape": "String",
          "location": "uri",
          "locationName": "resource_id"
        },
        "http_method":{
          "shape": "String",
          "location": "uri",
          "locationName": "http_method"
        },
        "status_code": {
          "shape": "String",
          "location": "uri",
          "locationName": "status_code"
        },
        "responseParameters": {
          "shape": "ResponseParametersMap"
        },
        "responseModels": {
          "shape": "ResponseModelsMap"
        }
      }
    },
    "CreateMethodInput": {
      "type": "structure",
      "members":{
        "restapi_id":{
          "shape": "String",
          "location": "uri",
          "locationName": "restapi_id"
        },
        "resource_id":{
          "shape": "String",
          "location": "uri",
          "locationName": "resource_id"
        },
        "http_method":{
          "shape": "String",
          "location": "uri",
          "locationName": "http_method"
        },
        "authorizationType": {
          "shape": "String"
        },
        "apiKeyRequired": {
          "shape": "Boolean"
        },
        "requestParameters": {
          "shape": "ResponseParametersMap"
        },
        "requestModels": {
          "shape": "ResponseModelsMap"
        }
      }
    },
    "ListMethodInput": {
      "type": "structure",
      "members":{
        "restapi_id":{
          "shape": "String",
          "location": "uri",
          "locationName": "restapi_id"
        },
        "resource_id":{
          "shape": "String",
          "location": "uri",
          "locationName": "resource_id"
        },
        "http_method":{
          "shape": "String",
          "location": "uri",
          "locationName": "http_method"
        }
      }
    },
    "GenericOutputType": {
      "type": "structure",
      "members":{
        "json_body":{
          "shape": "JsonBody"
        }
      },
     "payload": "json_body"
    },
    "ApiKeyUpdateType": {
      "type": "structure",
      "members":{
        "api_key":{
          "shape": "ApiKey",
          "location": "uri",
          "locationName": "api_key"
        },
        "patchOperations":{
          "shape": "PatchOperationList"
        }
      }
    }
  }
}
