{
  "version":"1.0",
  "metadata":{
    "apiVersion":"2012-08-10",
    "endpointPrefix":"apigateway",
    "jsonVersion":"1.1",
    "serviceAbbreviation":"APIGateway",
    "serviceFullName":"Amazon API Gateway",
    "signatureVersion":"v4",
    "protocol":"rest-json"
  },
  "operations":{
    "ListApiKeys":{
      "name":"ListApiKeys",
      "http":{
        "method":"GET",
        "requestUri":"/apikeys"
      },
      "output":{"shape":"GenericOutputType"}
    },
    "GetApiKey":{
      "name":"GetApiKey",
      "http":{
        "method":"GET",
        "requestUri":"/apikeys/{api_key}"
      },
      "input":{"shape":"GetApiKeyInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "CreateApiKey":{
      "name":"CreateApiKey",
      "http":{
        "method":"POST",
        "requestUri":"/apikeys",
        "responseCode": 201
      },
      "input":{"shape":"CreateApiKeyInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "DeleteApiKey":{
      "name":"DeleteApiKey",
      "http":{
        "method":"DELETE",
        "requestUri":"/apikeys/{api_key}",
        "responseCode": 202
      },
      "input":{"shape":"GetApiKeyInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "ListRestApis":{
      "name":"ListRestApis",
      "http":{
        "method":"GET",
        "requestUri":"/restapis"
      },
      "output":{"shape":"GenericOutputType"}
    },
    "GetRestApi":{
      "name":"GetRestApi",
      "http":{
        "method":"GET",
        "requestUri":"/restapis/{restapi_id}"
      },
      "input":{"shape":"GetApiKeyInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "CreateRestApi":{
      "name":"CreateRestApi",
      "http":{
        "method":"POST",
        "requestUri":"/restapis",
        "responseCode": 201
      },
      "input":{"shape":"CreateRestApiInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "DeleteRestApi":{
      "name":"DeleteRestApi",
      "http":{
        "method":"DELETE",
        "requestUri":"/restapis/{restapi_id}",
        "responseCode": 202
      },
      "input":{"shape":"GetRestApiInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "ListDomainNames":{
      "name":"ListDomainNames",
      "http":{
        "method":"GET",
        "requestUri":"/domainnames"
      },
      "output":{"shape":"GenericOutputType"}
    },
    "GetDomainName":{
      "name":"GetDomainName",
      "http":{
        "method":"GET",
        "requestUri":"/domainnames/{domain_name}"
      },
      "input":{"shape":"GetDomainNameInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "CreateDomainName":{
      "name":"CreateDomainName",
      "http":{
        "method":"POST",
        "requestUri":"/domainnames",
        "responseCode": 201
      },
      "input":{"shape":"CreateDomainNameInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "DeleteDomainName":{
      "name":"DeleteDomainName",
      "http":{
        "method":"DELETE",
        "requestUri":"/domainnames/{domain_name}",
        "responseCode": 202
      },
      "input":{"shape":"GetDomainNameInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "ListDeployments":{
      "name":"ListDeployments",
      "http":{
        "method":"GET",
        "requestUri":"/restapis/{restapi_id}/deployments"
      },
      "input":{"shape":"ListDeploymentsInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "GetDeployment":{
      "name":"ListDeployments",
      "http":{
        "method":"GET",
        "requestUri":"/restapis/{restapi_id}/{deployment_id}"
      },
      "input":{"shape":"GetDeploymentInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "CreateDeployment":{
      "name":"CreateDeployment",
      "http":{
        "method":"POST",
        "requestUri":"/restapis/{restapi_id}/deployments",
        "responseCode": 201
      },
      "input":{"shape":"CreateDeploymentInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "DeleteDeployment":{
      "name":"DeleteDeployment",
      "http":{
        "method":"DELETE",
        "requestUri":"/restapis/{restapi_id}/{deployment_id}",
        "responseCode": 202
      },
      "input":{"shape":"GetDomainNameInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "ListStages":{
      "name":"ListStages",
      "http":{
        "method":"GET",
        "requestUri":"/restapis/{restapi_id}/stages"
      },
      "input":{"shape":"ListStagesInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "GetStage":{
      "name":"ListStage",
      "http":{
        "method":"GET",
        "requestUri":"/restapis/{restapi_id}/{stage_name}"
      },
      "input":{"shape":"GetStageInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "CreateStage":{
      "name":"CreateStage",
      "http":{
        "method":"POST",
        "requestUri":"/restapis/{restapi_id}/stages",
        "responseCode": 201
      },
      "input":{"shape":"CreateStageInput"},
      "output":{"shape":"GenericOutputType"}
    },
    "DeleteStage":{
      "name":"DeleteStage",
      "http":{
        "method":"DELETE",
        "requestUri":"/restapis/{restapi_id}/{stage_name}",
        "responseCode": 202
      },
      "input":{"shape":"GetStageInput"},
      "output":{"shape":"GenericOutputType"}
    }
  },
  "shapes": {
    "JsonBody": {"type": "string"},  
    "ApiKey": {"type": "string"},
    "String": {"type": "string"},
    "Boolean": {"type": "boolean"},
    "GetApiKeyInput": {
      "type": "structure",
      "members":{
        "api_key":{
          "shape": "ApiKey",
          "location": "uri",
          "locationName": "api_key"
        }
      }
    },
    "StageKey": {
      "shape": "structure",
      "members": {
        "restApiId": {
          "shape": "String"
        },
        "stageName": {
          "shape": "String"
        }
      }
    },
    "StageKeys": {
      "type": "list",
      "member": {"shape": "StageKey"}
    },
    "CreateApiKeyInput": {
      "type": "structure",
      "required": [
        "name"
      ],
      "members":{
        "name":{
          "shape": "String"
        },
        "description": {
          "shape": "String"
        },
        "enabled": {
          "shape": "Boolean"
        },
        "stage_keys": {
          "shape": "StageKeys"
        }
      }
    },
    "CreateRestApiInput": {
      "type": "structure",
      "required": [
        "name"
      ],
      "members":{
        "name":{
          "shape": "String"
        },
        "description": {
          "shape": "String"
        },
        "cloneFrom": {
          "shape": "String"
        }
      }
    },
    "GetDomainNameInput": {
      "type": "structure",
      "members":{
        "domain_name":{
          "shape": "String",
          "location": "uri",
          "locationName": "domain_name"
        }
      }
    },
    "CreateDomainNameInput": {
      "type": "structure",
      "required": [
        "domainName",
        "certificateName",
        "certificateBody",
        "certificatePrivateKey",
        "certificateChain"
      ],
      "members":{
        "domainName":{
          "shape": "String"
        },
        "certificateName": {
          "shape": "String"
        },
        "certificateBody": {
          "shape": "String"
        },
        "certificatePrivateKey": {
          "shape": "String"
        },
        "certificateChain": {
          "shape": "String"
        }
      }
    },
    "ListDeploymentsInput": {
      "type": "structure",
      "members":{
        "restapi_id":{
          "shape": "String",
          "location": "uri",
          "locationName": "restapi_id"
        }
      }
    },
    "GetDeploymentInput": {
      "type": "structure",
      "members":{
        "restapi_id":{
          "shape": "String",
          "location": "uri",
          "locationName": "restapi_id"
        },
        "deployment_id":{
          "shape": "String",
          "location": "uri",
          "locationName": "deployment_id"
        }
      }
    },
    "CreateDeploymentInput": {
      "type": "structure",
      "members":{
        "restapi_id":{
          "shape": "String",
          "location": "uri",
          "locationName": "restapi_id"
        }
      }
    },
    "ListStagesInput": {
      "type": "structure",
      "members":{
        "restapi_id":{
          "shape": "String",
          "location": "uri",
          "locationName": "restapi_id"
        }
      }
    },
    "GetStageInput": {
      "type": "structure",
      "members":{
        "restapi_id":{
          "shape": "String",
          "location": "uri",
          "locationName": "restapi_id"
        },
        "stage_name":{
          "shape": "String",
          "location": "uri",
          "locationName": "stage_name"
        }
      }
    },
    "CreateStageInput": {
      "type": "structure",
      "members":{
        "restapi_id":{
          "shape": "String",
          "location": "uri",
          "locationName": "restapi_id"
        }
      }
    },
    "GenericOutputType": {
      "type": "structure",
      "members":{
        "json_body":{
          "shape": "JsonBody"
        }
      },
     "payload": "json_body"
    }
  }
}
